.Navbar{
    background-color: #181719;
    color: #fcfcfc;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.menu {
    text-decoration: none;
}